@import url("whitespace-reset.css");

body{
	font: normal 20px Helvetica, Arial, sans-serif;
	color: #45494d;
}

.header{
	background: #3d3d3d;
}

h1{
	font-size: 3.4em;
	color: #ffffff;
	text-align: center;
	padding: 140px 0 45px 0;
}

.header img{
	display: block;
	margin: 0 auto;
	padding-bottom: 130px;
}

.active{
	color: #4a9f8f;
}

nav ul{
	text-align: center;
	padding-bottom: 50px;
}

nav li{
	display: inline-block;
	padding: 0 25px;

}

nav li a{
	color: #fff;
}

nav li a:hover{
	color: #f5dc39;
}

h2{
	font-size: 1.8em;
	padding-bottom: 25px;
}

h2 a{
	color: #45494d;
}

h2 a:hover{
	color: #4a9f8f;
}

article p:first-of-type{
	padding-bottom: 25px;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

p{
	line-height: 150%;
	vertical-align: center;
}

article header p a{
	color: #4a9f8f;
}

article{
	padding-bottom: 70px;
}

main{
	margin: 0 auto;
	box-sizing: border-box;
	width: 100%;
	max-width: 1050px;
	padding: 85px 15px;
}

.button{
	display:inline-block;
	height:25px;
	width: 70px;
	border-radius: 20px;
	color: #fff;
	font-size: .8em;
	text-align: center;
	line-height: 25px;
}

.next{
	background: #4a9f8f;
}

.prev{
	background: #d2d5da;
}

.disabled{
	pointer-events: none;
	cursor: normal;
}

.article_container{
	box-sizing: border-box;
	float:left;
	width:78%;
	padding-right: 110px;
}

.sidebar{
	box-sizing: border-box;
	float:right;
	width: 22%;
}

.categories, .about{
	background: #f6f7f8;
	padding: 38px;
}

.sidebar p, .sidebar li a{
	font-size: .7em;
	color: #7e8287;
}

.sidebar li a:hover{
	color:#4a9f8f;
}

.sidebar li a:before{
	content:url("images/bullet.png");
	padding-right: 5px;
}

h3{
	font-size: .8em;
	padding-bottom: 32px;
}

main:after{
	display: block;
	clear:both;
	content: "";
}

footer{
	margin: 0 auto;
	width:95%;
	border-top: 1px solid #7e8287;
	padding-bottom: 50px;
}

footer p{
	font-size: .6em;
	color: #7e8287;
	padding-top: 16px;
}



