/*----------
CSS Reset
----------*/

ul,ol { list-style: none; }
h1,h2,h3,h4,h5,h6,pre,code { font-size: 1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,dl,dt,dd, figure, figcaption {
  margin: 0;
  padding: 0; }
a img,:link img,:visited img, fieldset { border: none; }
address { font-style: normal; }
header, section, article, nav, footer, hgroup, details, summary, figure, main { display: block; }
mark {
  color: inherit;
  background: transparent; }
abbr { border: none; }
summary::-webkit-details-marker { display: none; }

/*----------
Main Content
----------*/

body{
	font: normal 20px "Hind", Helvetica, Arial, sans-serif;
	text-align: center;
	background: #2f2840 url("images/bg_body.gif") 50% 0 repeat;
  color: #45494d;
  padding: 135px 0 0 0;
}

header h1{
	margin: 0 0 15px 0; 
}

header h1 a{
	display: inline-block;
	width: 298px;
	height:243px;
	text-indent: -9999px;
	background: transparent url("images/logo.png") 0 0 no-repeat;

}

nav ul{
	text-align: center;
}

nav ul li{
	display: inline;
	text-decoration: none;
	font-size: 24px;
	padding: 0 42px;
	text-transform: uppercase;
}

nav a{
	color: #cacaca;
	text-decoration: none;
}

nav a:hover{
	text-decoration: underline;
}

nav a.active{
	color: #6db9ff;
}

nav{
	padding: 0 0 60px 0;
}

main{
	margin: 0 auto;
	max-width: 960px;
	padding: 100px 0 0 0;
  background: #ffffff;
}

h1{
	padding-bottom: 40px;
  font-size: 36px;
  font-weight: 600;
}

h2{
	padding-bottom: 20px;
  font-size: 24px;
  color: #3e59b2;
}

article{
	padding: 0 110px 100px 110px;
}

main .image_container{
	padding: 60px 30px 20px 30px;
	text-align:center;
}

main .border_bottom{
	border-bottom: 1px solid #b2b2b2;
}

main .article_img{
	width:100%;
	height: auto;
}

.team_list{
	padding-bottom: 100px;
}

.team_list ul{
	text-align: center;
}

.team_list li{
	display: inline-block;
	padding: 0 32px;
}

.team_list li a{
  text-decoration: none;
}

figcaption{
  color: #3e59b2;
}

footer{
	padding: 75px 0;
	color: #b2b2b2;
	background: #e7e7e7;
}

footer p {
	text-align: center;
  padding: 0 0 40px 0;
}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline-block;
	padding: 0 62px;
}

footer li a{
	display: block;
	height: 46px;
	width: 46px; 
}

footer .social{
	background: transparent url("images/icons_social-media.png") 0 0 no-repeat;
}

footer .facebook{
	background-position: 0 -46px;
}

footer .email{
	background-position: 0 -92px;
}

footer .instagram{
	background-position: 0 100%;
}

footer .social:hover{
	background-color: #45494d;
	border-radius: 100%
}

/*
Media Queries
*/

@media(max-width: 768px){
	body{ 
		padding-top: 65px; 
	}
	
	header h1 a{
		width: 223px;
		height: 182px;
		background-size: cover;
	}

	main{
		max-width: 650px;
	}
 	
 	nav{
 		padding-bottom: 20px;
 	}
 	main{
 		padding-top: 70px;
 	}
 	article{
	padding: 0 30px 50px 30px;
}
 	article p{
 		padding: 0 40px;
 		text-align: justify;
 	}
 	.team_list li{
 		width:48%;
 		box-sizing: border-box;
 }

footer{
	padding: 35px 0;
}
 footer ul li{
		padding: 0 32px;
	}
}
@media(max-width: 480px){
	body{
		padding-top: 0;
		font-size: 16px;
	}
	header{
		padding: 20px 15px;
	}

	header h1{
		float: left;
		margin: 0;
		padding-top: 15px;
	}

	header h1 a{
		width: auto;
    height: 40px;
    padding: 10px 0 0 55px;
    text-indent: 0;
    font-size: 22px;
    color: #ffffff;
    background-position: -20px 0;
    background-size: 90px auto;
    text-decoration: none;

	}
	nav{
		text-align:right;
		padding-bottom: 0;
	}

nav ul{
	margin: 0;
	text-align: right;
}
	nav ul li{
		display:block;
		font-size: 16px;
		padding: 2px 0;
	}

	article{
	padding: 0 15px 30px 15px;
}

	footer ul li{
		padding: 0 20px;
	}
}